@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');


*{
    font-family: 'Roboto', sans-serif;
    max-width: 100vw;
}

body{
    background-color: #E5E5E5;
}

header{
    width: 100%;
    background-color: #FFFFFF;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.05);
    top: 0;
    z-index: 8;
}

header img{
    padding-left: 22px;
}


header ion-icon{
    width: 42px;
    height: 31px;
    padding-right: 22px;
}

main{
    padding-top: 80px;
    position: absolute;
    padding-bottom: 80px;
    margin-bottom: 80px;
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;   
    position: fixed;
    bottom: 0;
    background-color: #FFFFFF;
    box-shadow: 0px -4px 6px 0px rgba(0, 0, 0, 0.05);
}

.input-box{
    padding-left: 17px;
    width: 70%;
}

.input-box input{
    border: none;
    width: 100%;
    height: 30px;
}

footer ion-icon{
    width: 26px;
    height: 26px;
    padding-right: 18px;
}

.back{
    width: 100%;
    height: 100%;
    z-index: 10;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: row;
    visibility: hidden;
    font-family: 'Roboto', sans-serif;
}

.cinza{
    width: 30%;
    display: flex;
}

.sidebar{
    background-color: #FFFFFF;
    display: flex;
    width: 70%;
    flex-direction: column;
}

.close{
    width: 30px;
    height: 30px;
    position: fixed;
    bottom: 0;
    right: 0;
}

.menu-text{
    display: flex;
    height: 80px;
    line-height: 18.75px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    font-weight: 700;
    font-size: 16px;
    max-width: 300px;
}

.contatos{
    line-height: 18.75px;
}

.usuario, .destinatario{
    font-weight: 700;
}

.usuario, .conteudo, .participante{
    word-break: break-all;
}

.conversa{
    padding-top: 26px;
}

#status{
    background-color: #DCDCDC;
    margin: 2px 0;
}

#todos{
    background-color: #FFFFFF;
    margin: 2px 0;
}

#privado{
    background-color: #FFDEDE;
}

.hora{
    color: #AAAAAA;
    font-size: 11px;
}

.novaMsg{
    font-size: 14px;
    line-height: 16px;
    min-height: 40px;
    display: flex;
    align-items: center;
    gap: 4px;
    padding-left: 5px;
}

.chat{
    width: 100vh;
}

.contatos ion-icon{
    width: 24px;
    height: 17px;
}

#check{
    visibility: hidden;
    color: #28BB25;
    right: 10px;
}

.participante{
    display: flex;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    z-index: 12;
    position: absolute;
    width: 100%;
    height: 100vh;
  }
  
  .logo {
    height: 215px;
    display: flex;
    align-items: center;
  }
  
  .enterSite {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .enterInput {
    height: 40px;
  }
  
  .loginName {
    text-align: center;
    height: 40px;
    border-radius: 5px;
  }

  .loginEnter{
    font-family: 'Roboto', sans-serif;
  }
  
  .enterButton {
    background-color: #dcdcdc;
    border-radius: 5px;
    height: 30px;
    width: 80px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  